@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.portada {
    background: url('../../img/labOphicus.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.servicios {
    background: rgba(88, 88, 88, 0.5);
    color: #fff;
}

.cardInfo {
    width: 330px;
    height: auto;
    margin: 5px;
    border-radius: 20px;
    color: #7c7a7a;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    animation: mySplice;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1900ms;
}

@keyframes mySplice{
    from{margin-top: 100%;}
    to{margin-bottom: 0%;}
}

.icono {
    width: 100px;
    height: 100px;
    margin: 9px;
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    transition: all .9s ease;
}

.icon{
    color: rgb(7, 116, 7);
    font-size: 45px;
    padding: 21px;
}

.portadaServicios {
    background: url('../../img/ophicusServicios.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}

